@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100%;
}

aside {
  transition: transform 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  ul {
    padding-left: 1.5em;
    list-style-type: disc;
  }

  ol {
    padding-left: 1.5em;
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  /* Nested lists */
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0.5em;
  }
}

@media (max-width: 1024px) {
  .nextui-navbar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Style for focused editor */
.ProseMirror:focus {
  outline: none;
}

.sidebar-transition {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-overlay {
  transition: opacity 0.3s ease-in-out;
}

.sidebar-enter {
  transform: translateX(-100%);
}
.sidebar-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.sidebar-exit {
  transform: translateX(0);
}
.sidebar-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}
.search-input {
  transition: all 0.2s ease;
}
.search-input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.nextui-navbar {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

/* Asegurar alineación vertical del texto */
.nextui-navbar-brand span {
  vertical-align: middle;
  position: relative;
  top: 1px;
}

.nextui-navbar-content {
  flex: none !important;
  min-width: auto !important;
}

/* Logo pegado a la izquierda */
.nextui-navbar-brand {
  margin-right: auto !important;
  padding-left: 0.5rem !important;
}

/* Contenedor derecho pegado a la derecha */
.nextui-navbar-content:last-child {
  margin-left: 0 !important;
  padding-right: 0.5rem !important;
}

/* Ajustar espacio del buscador */
.nextui-navbar-content:nth-child(2) {
  flex-grow: 1;
  justify-content: center;
}

.prose {
  white-space: pre-wrap;
  word-break: break-word;
}

.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prose {
  white-space: pre-wrap;
}
.prose p.empty-paragraph {
  height: 1em;
  margin: 0.5em 0;
  position: relative;
}
.prose p.empty-paragraph::after {
  content: "\\00a0"; /* Espacio no rompible */
  visibility: hidden;
}
.prose br.line-break {
  content: "";
  display: block;
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 0.7em;
  min-height: 0.7em;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
